{
  "swagger": "2.0",
  "info": {
    "version": "3.6.0",
    "title": "API RMéS",
    "description": "API sur les métadonnées de l'Insee",
    "contact": {}
  },
  "host": "api.insee.fr",
  "basePath": "/metadonnees/V1",
  "securityDefinitions": {
    "default": {
      "type": "oauth2",
      "authorizationUrl": "https://api.insee.fr/authorize",
      "flow": "implicit",
      "scopes": {}
    }
  },
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/codes/cj/n2/{code}": {
      "get": {
        "description": "Informations sur une catégorie juridique de niveau 2",
        "summary": "getcjn2",
        "tags": [
          "nomenclatures"
        ],
        "operationId": "getcjn2",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifiant de la catégorie juridique de niveau 2 (deux chiffres)"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Catégorie juridique de niveau 2",
            "schema": {
              "$ref": "#/definitions/CategorieJuridiqueNiveauII"
            },
            "headers": {}
          }
        }
      }
    },
    "/codes/cj/n3/{code}": {
      "get": {
        "description": "Informations sur une catégorie juridique de niveau 3",
        "summary": "getcjn3",
        "tags": [
          "nomenclatures"
        ],
        "operationId": "getcjn3",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifiant de la catégorie juridique de niveau 3 (quatre chiffres)"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Catégorie juridique de niveau 3",
            "schema": {
              "$ref": "#/definitions/CategorieJuridiqueNiveauIII"
            },
            "headers": {}
          }
        }
      }
    },
    "/codes/nafr2/classe/{code}": {
      "get": {
        "description": "Informations sur une classe de la NAF rév.2 identifiée par son code",
        "summary": "getnafr2n4",
        "tags": [
          "nomenclatures"
        ],
        "operationId": "getnafr2n4",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Code de la classe (deux chiffres, un point, deux chiffres)"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Classe de la NAF",
            "schema": {
              "$ref": "#/definitions/ClasseNAF2008"
            },
            "headers": {}
          }
        }
      }
    },
    "/codes/nafr2/sousClasse/{code}": {
      "get": {
        "description": "Informations sur une sous-classe de la NAF rév.2 identifiée par son code",
        "summary": "getnafr2n5",
        "tags": [
          "nomenclatures"
        ],
        "operationId": "getnafr2n5",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Code de la sous-classe (deux chiffres, un point, deux chiffres et une lettre majuscule)"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Sous-classe de la NAF",
            "schema": {
              "$ref": "#/definitions/SousClasseNAF2008"
            },
            "headers": {}
          }
        }
      }
    },
    "/concepts/definition/{id}": {
      "get": {
        "description": "Informations sur la définition d'un concept statistique de l'Insee",
        "summary": "getconcept",
        "tags": [
          "concepts"
        ],
        "operationId": "getconcept",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "c[0-9]{4}",
            "description": "Identifiant du concept (format : c[0-9]{4})"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Concept",
            "schema": {
              "$ref": "#/definitions/Definition"
            },
            "headers": {}
          }
        }
      }
    },
    "/concepts/definitions": {
      "get": {
        "description": "Informations sur les définitions des concepts statistiques de l'Insee",
        "summary": "getConcepts",
        "tags": [
          "concepts"
        ],
        "operationId": "getConcepts",
        "deprecated": false,
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "libelle",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Recherche dans les libellés"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Concepts",
            "schema": {
              "type": "object",
              "default": "",
              "allOf": [
                {
                  "$ref": "#/definitions/Definitions"
                },
                {
                  "xml": {
                    "name": "Definitions",
                    "attribute": false,
                    "wrapped": false
                  }
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/aireDAttractionDesVilles2020/{code}": {
      "get": {
        "description": "Informations sur une aire d'attraction française identifiée par son code (trois caractères)",
        "summary": "getcogaav",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogaav",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]{3}",
            "description": "Code de l'aire d'attraction (trois chiffres)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer l'aire d'attraction active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Aire d'attraction",
            "schema": {
              "$ref": "#/definitions/AireDAttractionDesVilles2020"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/aireDAttractionDesVilles2020/{code}/descendants": {
      "get": {
        "description": "Informations concernant les territoires inclus dans l'aire d'attraction",
        "summary": "getcogaavdesc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogaavdesc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]{3}",
            "description": "Code de l'aire d'attraction (trois chiffres)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires inclus dans l'aire d'attraction active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Aire d'attraction",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/airesDAttractionDesVilles2020": {
      "get": {
        "description": "Informations sur toutes les aires d'attractions actives à la date donnée. Par défaut, c’est la date courante.",
        "summary": "getcogaavliste",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogaavliste",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les aire d'attractions actives à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ'). Le paramètre '*' permet de renvoyer tout l'historique."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Aire d'attraction",
            "schema": {
              "$ref": "#/definitions/AireDAttractionDesVilles2020"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissement/{code}": {
      "get": {
        "description": "Informations sur un arrondissement français identifié par son code (trois ou quatre caractères)",
        "summary": "getcogarr",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarr",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "(([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6]))[0-9]",
            "description": "Code de l'arrondissement (trois ou quatre caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer l'arrondissement actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement",
            "schema": {
              "$ref": "#/definitions/Arrondissement"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissement/{code}/ascendants": {
      "get": {
        "description": "Informations concernant les territoires qui contiennent l'arrondissement",
        "summary": "getcogarrasc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrasc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "(([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6]))[0-9]",
            "description": "Code de l'arrondissement (trois ou quatre caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires contenant l'arrondissement actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissement/{code}/descendants": {
      "get": {
        "description": "Informations concernant les territoires inclus dans l'arrondissement",
        "summary": "getcogarrdesc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrdesc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "(([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6]))[0-9]",
            "description": "Code de l'arrondissement (trois ou quatre caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires inclus dans l'arrondissement actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissement/{code}/precedents": {
      "get": {
        "description": "Informations concernant les arrondissements qui précèdent l'arrondissement",
        "summary": "getcogarrprec",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrprec",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "(([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6]))[0-9]",
            "description": "Code de l'arrondissement (trois ou quatre caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser l'arrondissement de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement",
            "schema": {
              "$ref": "#/definitions/Arrondissement"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissement/{code}/projetes": {
      "get": {
        "description": "Informations concernant les arrondissements qui résultent de la projection de l'arrondissement à la date passée en paramètre. ",
        "summary": "getcogarrproj",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrproj",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "(([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6]))[0-9]",
            "description": "Code de l'arrondissement (trois ou quatre caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser l'arrondissement de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "dateProjection",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date",
            "description": "Date vers laquelle est projetée l'arrondissement. Paramètre obligatoire (erreur 400 si absent, Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement",
            "schema": {
              "$ref": "#/definitions/Arrondissement"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissement/{code}/suivants": {
      "get": {
        "description": "Informations concernant les arrondissements qui succèdent à l'arrondissement",
        "summary": "getcogarrsuiv",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrsuiv",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "(([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6]))[0-9]",
            "description": "Code de l'arrondissement (trois ou quatre caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser l'arrondissement de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement",
            "schema": {
              "$ref": "#/definitions/Arrondissement"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissementMunicipal/{code}": {
      "get": {
        "description": "Informations sur un arrondissement municipal identifié par son code (cinq caractères)",
        "summary": "getcogarrmun",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrmun",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Code de l'arrondissement municipal (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer la arrondissement municipal actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement municipal",
            "schema": {
              "$ref": "#/definitions/ArrondissementMunicipal"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissementMunicipal/{code}/ascendants": {
      "get": {
        "description": "Informations concernant les territoires qui contiennent l'arrondissement municipal",
        "summary": "getcogarrmunasc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrmunasc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Code de l'arrondissement municipal (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires contenant l'arrondissement municipal actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement municipal",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissementMunicipal/{code}/precedents": {
      "get": {
        "description": "Informations concernant les arrondissement municipaux qui précèdent l'arrondissement municipal",
        "summary": "getcogarrmunprec",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrmunprec",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Code de l'arrondissement municipal (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser l'arrondissement municipal de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement municipal",
            "schema": {
              "$ref": "#/definitions/ArrondissementMunicipal"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissementMunicipal/{code}/projetes": {
      "get": {
        "description": "Informations concernant les arrondissements municipaux qui résultent de la projection de l'arrondissement municipal à la date passée en paramètre. ",
        "summary": "getcogarrmunproj",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrmunproj",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Code de l'arrondissement municipal (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser l'arrondissement municipal de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "dateProjection",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date",
            "description": "Date vers laquelle est projetée l'arrondissement municipal. Paramètre obligatoire (erreur 400 si absent, Format : 'AAAA-MM-JJ'))"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement municipal",
            "schema": {
              "$ref": "#/definitions/ArrondissementMunicipal"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissementMunicipal/{code}/suivants": {
      "get": {
        "description": "Informations concernant les arrondissements municipaux qui succèdent à l'arrondissement municipal",
        "summary": "getcogarrmunsuiv",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrmunsuiv",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Code de l'arrondissement municipal (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser l'arrondissement municipal de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement municipal",
            "schema": {
              "$ref": "#/definitions/ArrondissementMunicipal"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissements": {
      "get": {
        "description": "Informations sur tous les arrondissements actifs à la date donnée. Par défaut, c’est la date courante.",
        "summary": "getcogarrliste",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrliste",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les arrondissements actifs à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ'). Le paramètre '*' permet de renvoyer tout l'historique."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement",
            "schema": {
              "$ref": "#/definitions/Arrondissement"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/arrondissementsMunicipaux": {
      "get": {
        "description": "Informations sur tous les arrondissements municipaux actifs à la date donnée. Par défaut, c’est la date courante.",
        "summary": "getcogarrmunliste",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogarrmunliste",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer la arrondissement municipal actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ'). Le paramètre '*' permet de renvoyer tout l'historique."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Arrondissement municipal",
            "schema": {
              "$ref": "#/definitions/ArrondissementMunicipal"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/bassinDeVie2022/{code}": {
      "get": {
        "description": "Informations sur un bassin de vie identifiée par son code (neuf caractères)",
        "summary": "getcogBassinDevie2022",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogBassinDevie2022",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9]{5}",
            "description": "Code du bassin de vie (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer le bassin de vie active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "bassin de vie 2022",
            "schema": {
              "$ref": "#/definitions/BassinDeVie2022"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/bassinDeVie2022/{code}/descendants": {
      "get": {
        "description": "Informations concernant les territoires inclus dans le bassin de vie",
        "summary": "getcogBassinDevie2022desc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogBassinDevie2022desc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9]{5}",
            "description": "Code du bassin de vie (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires inclus dans le bassin de vie actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "bassin de vie 2022",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/bassinsDeVie2022": {
      "get": {
        "description": "Informations sur tous les bassins de vie actifs à la date donnée. Par défaut, c’est la date courante.",
        "summary": "getcogBassinDevie2022liste",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogBassinDevie2022liste",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les bassins de vie à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ'). Le paramètre '*' permet de renvoyer tout l'historique."
          },
          {
            "name": "filtreNom",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le nom de l'intercommunalité"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "bassin de vie 2022",
            "schema": {
              "$ref": "#/definitions/BassinDeVie2022"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/circonscriptionTerritoriale/{code}": {
      "get": {
        "description": "Informations sur une circonscription territoriale identifiée par son code (cinq caractères)",
        "summary": "getcogdistrict",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogdistrict",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "986[1-3]{2}",
            "description": "Code de la circonscription territoriale (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer la circonscription territoriale active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "circonscription territoriale d'une collectivité d'outre-mer",
            "schema": {
              "$ref": "#/definitions/CirconscriptionTerritoriale"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/circonscriptionTerritoriale/{code}/ascendants": {
      "get": {
        "description": "Informations concernant les territoires qui contiennent la circonscription territoriale",
        "summary": "getcogdistrictasc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogdistrictasc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "986[1-3]{2}",
            "description": "Code de la circonscription territoriale (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires contenant la circonscription territoriale actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "circonscription territoriale d'une collectivité d'outre-mer",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/collectiviteDOutreMer/{code}": {
      "get": {
        "description": "Informations sur une collectivité d'outre-mer identifiée par son code (cinq caractères)",
        "summary": "getcogcom",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcom",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "9[78][1-9]",
            "description": "Code de la collectivité d'outre-mer (trois caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer la collectivite d'outre-mer active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "collectivité d'outre-mer",
            "schema": {
              "$ref": "#/definitions/CollectiviteDOutreMer"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/collectiviteDOutreMer/{code}/descendants": {
      "get": {
        "description": "Informations concernant les territoires inclus dans la collectivite d'outre-mer",
        "summary": "getcogcomdesc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomdesc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "9[78][1-9]",
            "description": "code de la collectivité d'outre-mer (3 caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires inclus dans la collectivité d'outre-mer active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé.(Commune ou District)"
          },
          {
            "name": "filtreNom",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le nom du ou des territoires renvoyés"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "collectivité d'outre-mer",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/collectivitesDOutreMer": {
      "get": {
        "description": "Informations sur toutes les collectivités d'outre-mer actives à la date donnée. Par défaut, c’est la date courante.",
        "summary": "getcogcomliste",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomliste",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les collectivités d'outre-mer actives à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ'). Le paramètre '*' permet de renvoyer tout l'historique."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "collectivité d'outre-mer",
            "schema": {
              "$ref": "#/definitions/Commune"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/commune/{code}": {
      "get": {
        "description": "Informations sur une commune française identifiée par son code (cinq caractères)",
        "summary": "getcogcom_1",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcom_1",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer la commune active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune",
            "schema": {
              "$ref": "#/definitions/Commune"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/commune/{code}/ascendants": {
      "get": {
        "description": "Informations concernant les territoires qui contiennent la commune",
        "summary": "getcogcomasc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomasc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires contenant la commune active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/commune/{code}/descendants": {
      "get": {
        "description": "Informations concernant les territoires inclus dans la commune",
        "summary": "getcogcomdesc_1",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomdesc_1",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires inclus dans la commune active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/commune/{code}/precedents": {
      "get": {
        "description": "Informations concernant les communes qui précèdent la commune",
        "summary": "getcogcomprec",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomprec",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser la commune de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune",
            "schema": {
              "$ref": "#/definitions/Commune"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/commune/{code}/projetes": {
      "get": {
        "description": "Informations concernant les communes qui résultent de la projection de la commune à la date passée en paramètre.",
        "summary": "getcogcomproj",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomproj",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser la commune de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "dateProjection",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date",
            "description": "Date vers laquelle est projetée la commune. Paramètre obligatoire (Format : 'AAAA-MM-JJ', erreur 400 si absent)"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune",
            "schema": {
              "$ref": "#/definitions/Commune"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/commune/{code}/suivants": {
      "get": {
        "description": "Informations concernant les communes qui succèdent à la commune",
        "summary": "getcogcomsuiv",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomsuiv",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser la commune de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune",
            "schema": {
              "$ref": "#/definitions/Commune"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/communeAssociee/{code}": {
      "get": {
        "description": "Informations sur une commune associée identifiée par son code (cinq caractères)",
        "summary": "getcogcomass",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomass",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune associée (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer la commune associée active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune associée",
            "schema": {
              "$ref": "#/definitions/CommuneAssociee"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/communeAssociee/{code}/ascendants": {
      "get": {
        "description": "Informations concernant les territoires qui contiennent la commune associée",
        "summary": "getcogcomassasc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomassasc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune associée (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires contenant la commune associée active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune associée",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/communeDeleguee/{code}": {
      "get": {
        "description": "Informations sur une commune déléguée identifiée par son code (cinq caractères)",
        "summary": "getcogcomdel",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomdel",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune déléguée (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer la commune déléguée active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune déléguée",
            "schema": {
              "$ref": "#/definitions/CommuneDeleguee"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/communeDeleguee/{code}/ascendants": {
      "get": {
        "description": "Informations concernant les territoires qui contiennent la commune déléguée",
        "summary": "getcogcomdelasc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomdelasc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "[0-9][0-9AB][0-9]{3}",
            "description": "Code de la commune déléguée (cinq caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires contenant la commune déléguée active à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune déléguée",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/communes": {
      "get": {
        "description": "Informations sur toutes les communes actives à la date donnée. Par défaut, c’est la date courante.",
        "summary": "getcogcomliste_1",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomliste_1",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les communes actives à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ'). Le paramètre '*' permet de renvoyer tout l'historique."
          },
          {
            "name": "filtreNom",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le nom de la commune"
          },
          {
            "name": "com",
            "in": "query",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Sélectionner \"true\" pour inclure les collectivités d’outre-mer"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune",
            "schema": {
              "$ref": "#/definitions/Commune"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/communesAssociees": {
      "get": {
        "description": "Informations sur toutes les communes associées actives à la date donnée. Par défaut, c’est la date courante.",
        "summary": "getcogcomassliste",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomassliste",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les communes associées actives à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ'). Le paramètre '*' permet de renvoyer tout l'historique."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune associée",
            "schema": {
              "$ref": "#/definitions/Commune"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/communesDeleguees": {
      "get": {
        "description": "Informations sur toutes les communes déléguées actives à la date donnée. Par défaut, c’est la date courante.",
        "summary": "getcogcomdelliste",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogcomdelliste",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les communes déléguées actives à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ'). Le paramètre '*' permet de renvoyer tout l'historique."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Commune déléguée",
            "schema": {
              "$ref": "#/definitions/Commune"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/departement/{code}": {
      "get": {
        "description": "Informations sur un departement identifié par son code (deux ou trois caractères)",
        "summary": "getcogdep",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogdep",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6])",
            "description": "Code du département (deux ou trois caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer la département actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Departement",
            "schema": {
              "$ref": "#/definitions/Departement"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/departement/{code}/ascendants": {
      "get": {
        "description": "Informations concernant les territoires qui contiennent la departement",
        "summary": "getcogdepasc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogdepasc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6])",
            "description": "Code du département (deux ou trois caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires contenant le département actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Departement",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/departement/{code}/descendants": {
      "get": {
        "description": "Informations concernant les territoires inclus dans le departement",
        "summary": "getcogdepdesc",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogdepdesc",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6])",
            "description": "Code du département (deux ou trois caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour renvoyer les territoires inclus dans le département actif à la date donnée. Par défaut, c’est la date courante. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le type de territoire renvoyé."
          },
          {
            "name": "filtreNom",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filtre sur le nom des territoires renvoyés"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Departement",
            "schema": {
              "$ref": "#/definitions/Territoire"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/departement/{code}/precedents": {
      "get": {
        "description": "Informations concernant les departements qui précèdent le departement",
        "summary": "getcogdepprec",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogdepprec",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6])",
            "description": "Code du département (deux ou trois caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser le departement de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
          "400": {
            "description": "La syntaxe de la requête est incorrecte",
            "headers": {}
          },
          "401": {
            "description": "Une authentification est nécessaire pour accéder à la ressource",
            "headers": {}
          },
          "404": {
            "description": "Ressource non trouvée",
            "headers": {}
          },
          "406": {
            "description": "L'en-tête HTTP 'Accept' contient une valeur non acceptée",
            "headers": {}
          },
          "500": {
            "description": "Erreur interne du serveur",
            "headers": {}
          },
          "default": {
            "description": "Departement",
            "schema": {
              "$ref": "#/definitions/Departement"
            },
            "headers": {}
          }
        }
      }
    },
    "/geo/departement/{code}/projetes": {
      "get": {
        "description": "Informations concernant les départements qui résultent de la projection du département à la date passée en paramètre. ",
        "summary": "getcogdepproj",
        "tags": [
          "geographie"
        ],
        "operationId": "getcogdepproj",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "([013-8][0-9])|(2[0-9AB])|(9[0-5])|(97[1-6])",
            "description": "Code du département (deux ou trois caractères)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Filtre pour préciser le departement de départ. Par défaut, c’est la date courante qui est utilisée. (Format : 'AAAA-MM-JJ')"
          },
          {
            "name": "dateProjection",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date",
            "description": "Date vers laquelle est projetée le departement. Paramètre obligatoire (Format : 'AAAA-MM-JJ', erreur 400 si absent)"
          }
        ],
        "responses": {
          "200": {
            "description": "Opération réussie",
            "headers": {}
          },
[...]
